body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.recording-indicator {
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

.circle-outer {
  background: orange;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-inner {
  background: blue;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
