/* Updated styles */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.recording-indicator {
  text-align: center;
  color: white;
  font-family: 'Almarai', sans-serif;
  font-size: 26px;
}

.circle-outer {
  background: #DB7D25;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 10px #DB7D25; /* Add glow effect */
  animation: pulse 2s infinite ease-in-out;
  margin-bottom: 50px; /* Add space between the circle and the text */
  position: relative;
}

.circle-inner {
  background: radial-gradient(circle, #ffa500, #4179AC); /* Radial gradient from center to edges */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


